body{
    font-family:roboto;
    font-size: 13px;
     margin: 0px;
     background-color: red;
}   
h1{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

header{
    height: 60px;
}

footer{
    height: 100px;
    padding-top: 0px;
    background-color: black;
    color: red;
    border-top: 2px solid #c5c5c5;
    text-align: end;
}
nav{
    width: 100%;
    background-color: black;
}
    
nav li{
    list-style-type: none;
    float:left;
} 
nav a{
     display: inline-block;
     text-decoration: none;
     padding: 20px 30px;
     color: red;
     text-transform: uppercase;
     font-size: 15px;
}    
.table{
     display: table;
     margin: 0 auto;
     color: bisque;

}
.menu:hover{
    border-bottom:1px solid #111;
    border-bottom-color:bisque;

}
#blue-bordered {
    border: 5px dashed bisque;
}
.box p {
    color: bisque;
}  

h1 + p {
    font-weight: bold;
    background-color:#333;
    color:#fff;
    padding: .5em;
}   

